* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}

// Global Container/wrapper for whole app
.outer-container {
  display: grid;
  height: 100vh;
  width: 100vw;
  overflow: hidden;
  grid-template-columns: auto 1fr;
}

// Main Navbar on the left
.navbar-wrapper {
  display: flex;
  flex-direction: column;
  border-right: #656668 1px solid;
  min-width: 280px;
  max-width: 340px;
  box-shadow: 2px 3px 7px 7px #87888a;

  .brand {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    height: 50px;
    padding-left: 1rem;

    h3 {
      color: #2f3031;
      padding-left: 1rem;
      font-weight: 400;
      span {
        font-weight: 700;
        color: #dd5735;
      }
    }
  }

  nav {
    display: flex;
    flex-direction: column;
    padding: 3rem 0;

    .active-link {
      border-left: 3px solid #dd5735;
    }

    a {
      padding: 1rem 0;
      padding-left: 2rem;
      display: flex;
      justify-content: flex-start;
      text-decoration: none;
      color: #2f3031;
      span {
        padding-left: 1rem;
      }
    }
  }
}

// HEADER
// over main content diplays login info
.header {
  width: 100%;
  height: 50px;
  background: #2f3031;
  display: flex;
  justify-content: flex-end;
  padding-right: 2rem;
  align-items: center;

  img {
    border-radius: 50%;
  }

  h5 {
    color: #f4f4f4;
    padding: 0 1rem;
  }
}

// DASHBOARD
// 1st of the main components controlled by switch
.dashboard-wrapper {
  width: 100%;
  height: 100%;
  padding: 2rem;
  display: grid;
  grid-template-rows: 10% 20% 1fr;

  h3 {
    display: inline-block;
    width: 100%;
  }

  .card-wrapper {
    display: flex;
    justify-content: space-around;

    .card-container {
      width: 25%;
      height: 120px;
      background: #d8453b;
      display: flex;

      .icon-left {
        display: flex;
        width: 30%;
        border-right: 1px solid #b2b2b250;
        justify-content: center;
        align-items: center;
      }

      .right-column {
        display: flex;
        flex-direction: column;
        width: 70%;

        .number {
          display: flex;
          align-items: center;
          justify-content: center;
          height: 50%;
          border-bottom: 1px solid #b2b2b250;
        }
        .name {
          display: flex;
          align-items: center;
          justify-content: center;
          height: 50%;
        }
      }
    }
  }
}
