* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}

.outer-container {
  display: -ms-grid;
  display: grid;
  height: 100vh;
  width: 100vw;
  overflow: hidden;
  -ms-grid-columns: auto 1fr;
      grid-template-columns: auto 1fr;
}

.navbar-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  border-right: #6566686e 1px solid;
  min-width: 280px;
  max-width: 340px;
  -webkit-box-shadow: 4px 3px 5px 4px #87888a54;
          box-shadow: 4px 3px 5px 4px #87888a54;
}

.navbar-wrapper .brand {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  height: 50px;
  padding-left: 1rem;
}

.navbar-wrapper .brand h3 {
  color: #2f3031;
  padding-left: 1rem;
  font-weight: 400;
}

.navbar-wrapper .brand h3 span {
  font-weight: 700;
  color: #dd5735;
}

.navbar-wrapper nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 3rem 0;
}

.navbar-wrapper nav .active {
  border-left: 5px solid #dd5735;
  font-size: 1.1rem;
}

.navbar-wrapper nav a {
  padding: 1rem 0;
  padding-left: 2rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  text-decoration: none;
  color: #2f3031;
}

.navbar-wrapper nav a span {
  padding-left: 1rem;
}

.header {
  width: 100%;
  height: 50px;
  background: #2f3031;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  padding-right: 2rem;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header img {
  border-radius: 50%;
}

.header h5,
.header p {
  color: #f4f4f4;
  padding: 0 1rem;
}

.header p {
  font-size: 0.9rem;
}

.dashboard-wrapper {
  width: 100%;
  height: 100%;
  padding: 2rem 4rem;
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: 10% 20% 1fr;
      grid-template-rows: 10% 20% 1fr;
  max-width: 1400px;
  margin: auto;
}

.dashboard-wrapper h3 {
  display: inline-block;
  width: 100%;
}

.dashboard-wrapper .card-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.dashboard-wrapper .card-wrapper > div {
  color: #f4f4f4;
}

.dashboard-wrapper .card-wrapper .card {
  width: 25%;
  height: 120px;
  background: #d8453b;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-shadow: 4px 4px 6px 4px #b2b2b293;
          box-shadow: 4px 4px 6px 4px #b2b2b293;
}

.dashboard-wrapper .card-wrapper .card .icon-left {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 30%;
  border-right: 1px solid #b2b2b250;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.dashboard-wrapper .card-wrapper .card .right-column {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 70%;
}

.dashboard-wrapper .card-wrapper .card .right-column .number {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 50%;
  border-bottom: 1px solid #b2b2b250;
}

.dashboard-wrapper .card-wrapper .card .right-column .name {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 50%;
}

.ticket-form-wrapper {
  width: 100%;
  height: 100%;
  padding: 2rem 4rem;
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: 10% 60% 1fr;
      grid-template-rows: 10% 60% 1fr;
  max-width: 900px;
  margin: auto;
}

.ticket-form-wrapper form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.ticket-form-wrapper form label {
  margin-bottom: 1rem;
  font-weight: 500;
}

.ticket-form-wrapper form input,
.ticket-form-wrapper form textarea {
  margin-bottom: 3rem;
  padding: 15px 5px;
  border: none;
  border-bottom: 1px solid #b2b2b293;
  -webkit-box-shadow: -1px 3px 3px 0 #b2b2b293;
          box-shadow: -1px 3px 3px 0 #b2b2b293;
}

.ticket-form-wrapper form .react-datetime-picker__wrapper {
  border: none;
  border-bottom: 0.5px solid #b2b2b293;
  -webkit-box-shadow: -1px 3px 3px 0 #b2b2b293;
          box-shadow: -1px 3px 3px 0 #b2b2b293;
  width: 100%;
  margin-bottom: 1rem;
}

.ticket-form-wrapper form .react-datetime-picker__wrapper input {
  border: none;
  -webkit-box-shadow: none;
          box-shadow: none;
  padding: 0 5px;
}

.ticket-form-wrapper form textarea {
  height: 100%;
}

.ticket-form-wrapper form .left-column {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 50%;
  padding-right: 1rem;
}

.ticket-form-wrapper form .right-column {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 50%;
  padding-left: 1rem;
}

.ticket-form-wrapper form .button-area {
  width: 100%;
}

.ticket-form-wrapper form .button-area button {
  padding: 5px 8px;
  border-radius: 0.5em;
  margin-right: 2em;
  color: #f4f4f4;
  font-size: 1.2rem;
  font-weight: 200;
}

.ticket-form-wrapper form .button-area #submit-button {
  background: #2f3031;
}

.ticket-form-wrapper form .button-area #reset-button {
  background: #dd5735;
}

.spinner {
  position: absolute;
  left: 65%;
  top: 30%;
}

.ticket-list-wrapper {
  width: 100%;
  height: 100%;
  padding: 2rem 4rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  max-width: 1400px;
  margin: auto;
}

.ticket-list-wrapper h2 {
  display: inline-block;
  width: 100%;
  font-size: 1.2rem;
  margin-bottom: 3rem;
}

.ticket-list-wrapper .ticket-container {
  width: 90%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 1rem;
  border: 1px solid #b2b2b250;
  -webkit-box-shadow: 3px 2px 2px 2px #b2b2b293;
          box-shadow: 3px 2px 2px 2px #b2b2b293;
  border-radius: 0.5em 0.5em;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0.6rem;
}

.ticket-list-wrapper .ticket-container h3 {
  font-size: 0.8rem;
  padding: 0 1rem;
}

.ticket-list-wrapper .ticket-container .name,
.ticket-list-wrapper .ticket-container .address,
.ticket-list-wrapper .ticket-container .service {
  width: 25%;
}

.ticket-list-wrapper .ticket-container .name strong,
.ticket-list-wrapper .ticket-container .address strong,
.ticket-list-wrapper .ticket-container .service strong {
  font-size: 0.8rem;
}

.ticket-list-wrapper .ticket-container button {
  padding: 5px 8px;
  border-radius: 0.5em;
  margin: 0.2rem 1rem;
  color: #4d4b4b;
  font-size: 1rem;
  font-weight: 200;
  background: #35bbdd7e;
}
/*# sourceMappingURL=main.css.map */