* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}

.outer-container {
  display: -ms-grid;
  display: grid;
  height: 100vh;
  width: 100vw;
  overflow: hidden;
  -ms-grid-columns: auto 1fr;
      grid-template-columns: auto 1fr;
}

.navbar-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  border-right: #6566686e 1px solid;
  min-width: 280px;
  max-width: 340px;
  -webkit-box-shadow: 4px 3px 5px 4px #87888a54;
          box-shadow: 4px 3px 5px 4px #87888a54;
}

.navbar-wrapper .brand {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  height: 50px;
  padding-left: 1rem;
}

.navbar-wrapper .brand h3 {
  color: #2f3031;
  padding-left: 1rem;
  font-weight: 400;
}

.navbar-wrapper .brand h3 span {
  font-weight: 700;
  color: #dd5735;
}

.navbar-wrapper nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 3rem 0;
}

.navbar-wrapper nav .active {
  border-left: 5px solid #dd5735;
  font-size: 1.1rem;
}

.navbar-wrapper nav a {
  padding: 1rem 0;
  padding-left: 2rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  text-decoration: none;
  color: #2f3031;
}

.navbar-wrapper nav a span {
  padding-left: 1rem;
}

.header {
  width: 100%;
  height: 50px;
  background: #2f3031;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  padding-right: 2rem;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header img {
  border-radius: 50%;
}

.header h5,
.header p {
  color: #f4f4f4;
  padding: 0 1rem;
}

.header p {
  font-size: 0.9rem;
}

.dashboard-wrapper {
  width: 100%;
  height: 100%;
  padding: 2rem 4rem;
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: 10% 20% 1fr;
      grid-template-rows: 10% 20% 1fr;
  max-width: 1400px;
  margin: auto;
}

.dashboard-wrapper h2 {
  display: inline-block;
  width: 100%;
}

.dashboard-wrapper .card-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.dashboard-wrapper .card-wrapper > div {
  color: #f4f4f4;
}

.dashboard-wrapper .card-wrapper .card {
  width: 25%;
  height: 120px;
  background: #d8453b;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-shadow: 4px 4px 6px 4px #b2b2b293;
          box-shadow: 4px 4px 6px 4px #b2b2b293;
}

.dashboard-wrapper .card-wrapper .card .icon-left {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 30%;
  border-right: 1px solid #b2b2b250;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.dashboard-wrapper .card-wrapper .card .right-column {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 70%;
}

.dashboard-wrapper .card-wrapper .card .right-column .number {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 50%;
  border-bottom: 1px solid #b2b2b250;
}

.dashboard-wrapper .card-wrapper .card .right-column .name {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 50%;
}

.ticket-form-wrapper {
  width: 100%;
  height: 100%;
  max-width: 900px;
  margin: 2rem 4rem;
}

.ticket-form-wrapper form {
  height: 100%;
  width: 100%;
  margin-top: 3rem;
}

.ticket-form-wrapper form label {
  margin-bottom: 1rem;
  font-weight: 500;
  width: 100%;
  display: inline-block;
}

.ticket-form-wrapper form input,
.ticket-form-wrapper form textarea {
  width: 100%;
  margin-bottom: 3rem;
  padding: 15px 5px;
  border: none;
  border-bottom: 1px solid #b2b2b293;
  -webkit-box-shadow: -1px 3px 3px 0 #b2b2b293;
          box-shadow: -1px 3px 3px 0 #b2b2b293;
}

.ticket-form-wrapper form .autocomplete-address {
  width: 100%;
  margin: 0;
  position: relative;
}

.ticket-form-wrapper form .autocomplete-address .autocomplete-dropdown-container {
  position: absolute;
  top: 45px;
}

.ticket-form-wrapper form .autocomplete-address .autocomplete-dropdown-container > div {
  padding: 10px 12px;
  border: 1px solid #888;
  border-radius: 4px;
}

.ticket-form-wrapper form .button-area {
  width: 100%;
}

.ticket-form-wrapper form .button-area button {
  padding: 5px 8px;
  border-radius: 0.5em;
  margin-right: 2em;
  color: #f4f4f4;
  font-size: 1.2rem;
  font-weight: 200;
}

.ticket-form-wrapper form .button-area #submit-button {
  background: #2f3031;
}

.ticket-form-wrapper form .button-area #reset-button {
  background: #dd5735;
}

.spinner {
  position: absolute;
  left: 65%;
  top: 30%;
}

.ticket-list-wrapper {
  width: 100%;
  height: 100%;
  padding: 2rem 4rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  max-width: 1400px;
  margin: auto;
}

.ticket-list-wrapper h2 {
  display: inline-block;
  width: 100%;
  margin-bottom: 3rem;
}

.ticket-list-wrapper .ticket-table {
  text-align: center;
  border-collapse: collapse;
  border: 2px solid #ddd;
  width: 100%;
}

.ticket-list-wrapper .ticket-table td,
.ticket-list-wrapper .ticket-table th {
  border: 1px solid #ddd;
  padding: 8px;
}

.ticket-list-wrapper .ticket-table tr:nth-child(even) {
  background-color: #f2f2f2;
}

.ticket-list-wrapper .ticket-table tr:hover {
  background-color: #ddd;
}

.ticket-list-wrapper .ticket-table th {
  padding-top: 12px;
  padding-bottom: 12px;
  background-color: #dd5735;
  color: #fff;
}

.detail-container {
  margin: 3rem;
  -webkit-box-shadow: 4px 3px 5px 4px #87888a54;
          box-shadow: 4px 3px 5px 4px #87888a54;
  border-radius: 1em;
}

.detail-container .map-container .map {
  border-radius: 1em;
}

.detail-container .info-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 2rem;
}

.detail-container .info-container .left-column {
  width: 50%;
}

.detail-container .info-container .left-column h2 {
  padding-bottom: 1rem;
}

.detail-container .info-container .left-column .dynamic-text {
  padding-left: 1rem;
  font-weight: 300;
}

.detail-container .info-container .right-column {
  width: 50%;
}

.detail-container .info-container .right-column p {
  padding: 1rem 0;
}

.techs-wrapper {
  width: 100%;
  height: 100%;
  padding: 2rem 4rem;
  max-width: 1400px;
  margin: auto;
}

.techs-wrapper h2 {
  margin-bottom: 2rem;
  width: 100%;
}

.techs-wrapper .techs-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.techs-wrapper .techs-list .tech-card {
  height: 280px;
  width: 200px;
  border-radius: 1em;
  -webkit-box-shadow: 4px 3px 5px 4px #87888a54;
          box-shadow: 4px 3px 5px 4px #87888a54;
  margin: 0 2rem;
}

.techs-wrapper .techs-list .tech-card img {
  width: 100%;
  height: 60%;
  border-radius: 1em;
}

.techs-wrapper .techs-list .tech-card .info-box {
  padding: 1rem;
}

.techs-wrapper .techs-list .tech-card .info-box h3 {
  font-size: 1.1rem;
  margin-bottom: 0.4rem;
}

.techs-wrapper .techs-list .tech-card .info-box .primary-text {
  font-size: 0.8rem;
  color: #dd5735;
  font-weight: 400;
  padding-right: 5px;
}
/*# sourceMappingURL=main.css.map */